.cursor-pointer {
    cursor: pointer;
}

.date-time-picker {
    cursor: pointer;
    &::-webkit-calendar-picker-indicator,
    &::-webkit-inner-spin-button,
    &::-webkit-clear-button {
        cursor: pointer;
    }
}

input[type="time"],
input[type="date"] {
    cursor: pointer;
}

.error-text {
    color: #d93025;
    font-size: 12px;
    margin-top: 4px;
}

.button-group {
    margin-top: 20px;
    text-align: right;
    .btn {
        margin-left: 10px;
    }
    .btn-primary {
        min-width: 140px;
    }
}